.list {
	float: left;
	width: 160px;
	border-right: 4px solid #FFB200;
	list-style: none;
	margin-bottom: 5px;
}

.item {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-right: 0 solid #FFB200;
	transition: border-right 100ms;
	cursor: pointer;
	&:hover, &.selected {
		border-right: 4px solid #FFB200;
	};
}

.split {
	height: 1px;
	width: 100%;
	background-color: #CCC;
}

.show {
	border: 0;
	width: calc(100% - 160px);
	height: 640px;
}

@media screen and (max-width: 640px) {
	.list {
		width: 100%;
	}

	.show {
		width: 100%;
	}
}
