.content {
	h2 {
		border-bottom: 1px solid #CCC;
		padding-bottom: 5px;
		display: list-item;
		list-style-type: decimal;
	}

	p {
		margin: 10px 0;
	}

	a {
		text-decoration: none;
		color: #FFB200;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		};
	}

	img {
		width: 100%;
		margin: 10px 0;
	}
}
