.header {
	height: 60px;
	width: 100%;
	background: #000;
	filter: drop-shadow(2px 2px 10px rgba(0,0,0,.5));
	position: fixed;
	top: 0;
	bottom: 0;
	user-select: none;
	/*backdrop-filter: blur(20px);*/
	&:after {
		content: '';
		height: 4px;
		width: 100%;
		background-color: #FFB200;
		position: absolute;
		bottom: -2px;
		z-index: 0;
	};
}

.logoBox {
	height: 120px;
	width: 120px;
	padding: 25px;
	position: absolute;
	transform: rotate(45deg);
	z-index: 1;
}

.logo {
	height: 100%;
	width: 100%;
	border-width: 16px;
	border-style: solid;
	border-image: linear-gradient(to bottom right,#ffd575,#f5ab00);
	border-image-slice: 1;
	background-color: #FFF;
	box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transform: scale(1);
	opacity: 1;
}

.logo.hidden {
	transform: scale(2);
	opacity: 0;
	transition: transform .5s, opacity .5s;
}

.links {
	float: right;
	height: 100%;
	overflow: auto;
	max-width: calc(100% - 60px);
	padding-left: 20px;
}

.wrapper {
	height: 100%;
	min-width: 320px;
	padding: 0 10px;
}

.link {
	height: 100%;
	line-height: 60px;
	float: right;
	color: #FFF;
	padding: 0 10px;
	cursor: pointer;
	border-bottom: 0 solid #FFB200;
	transition: border-bottom 100ms;
	&.selected, &:hover {
		border-bottom: 5px solid #FFB200;
	}
}
