.top {
	height: 140px;
	padding-left: 100px;
	padding-top: 60px;
	line-height: 60px;
	font-size: 40px;
	color: #000;
	text-shadow: 2px 2px 10px rgba(0,0,0,.5);
	user-select: none;
	cursor: default;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Amiri, Georgia, serif;
}

.main {
	background: url('./images/bg.png');
	overflow: hidden;
	opacity: 0;
	transition: opacity .5s;
	&.show {
		opacity: 1;
	}
}
